<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <link rel="stylesheet" href="/styles/customer.css">
</head>
<body>

<h1>Hello</h1>


<table>

    <thead>

    <th>Driver licence:</th>
    <th>Driver since:</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Phone number</th>
    <th>Mobile number</th>
    <th>Email</th>
    <th>Zip code</th>
    <th>City</th>


    </thead>

    <tbody>

    <tr th:each="customer: ${customers}">
        <td th:text="${customer.driver_license_number}" > </td>
        <td th:text="${customer.driver_since_number}" > </td>
        <td th:text="${customer.first_name}" > </td>
        <td th:text="${customer.last_name}" > </td>
        <td th:text="${customer.phone_number}" > </td>
        <td th:text="${customer.mobile_number}" > </td>
        <td th:text="${customer.email}" > </td>
        <td th:text="${customer.zip_code}" > </td>
        <td th:text="${customer.city}" > </td>

    </tr>
    </tbody>

</table>

</body>
</html>