<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <link href="/styles/customer.css" rel="stylesheet">
    <link href="/styles/adminMain.css" rel="stylesheet">
</head>
<body>

<h1>Hello</h1>


<table>

    <thead>

    <th>Driver licence:</th>
    <th>Driver since:</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Phone number</th>
    <th>Mobile number</th>
    <th>Email</th>
    <th>Zip code</th>
    <th>City</th>
    <th>Actions</th>


    </thead>

    <tbody>

    <tr th:each="customer: ${customers}">
        <td th:text="${customer.driver_license_number}"></td>
        <td th:text="${customer.driver_since_number}"></td>
        <td th:text="${customer.first_name}"></td>
        <td th:text="${customer.last_name}"></td>
        <td th:text="${customer.phone_number}"></td>
        <td th:text="${customer.mobile_number}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.zip_code}"></td>
        <td th:text="${customer.city}"></td>
        <td>
<!--            th:href="@{/students/update/{id} (id=${student.id})}-->
            <a th:href="@{/update/{driver_license_number} (driver_license_number=${customer.driver_license_number})}">Update</a>
            <a th:href="@{'/admin/customer-view/'+${customer.driver_license_number}}">View</a>
            <a th:href="@{'/admin/customer/'+${customer.driver_license_number}}">Delete</a>
            <!--            <a th:href="@{/admin/customer/{license-number}(license-number=${customer.driver_license_number})}"-->
            <!--               class="delete-customer">Remove</a>-->
        </td>

    </tr>
    </tbody>

</table>

</body>
</html>