<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rentals</title>
</head>
<body>
<h3>Register rental</h3>
<form action="/admin/new-rental" method="post">


    <input type="text" name="fromDateAndTime" class="text-box" placeholder="Enter rental from date" required>
    <br>
    <input type="text" name="toDateAndTime" class="text-box" placeholder="Enter rental to date" required>
    <br>
    <input type="text" name="maxKm" class="text-box" placeholder="Enter rental max km" required>
    <br>

    <br>  <input type="submit" id="button-send" value="Create New Rental Contract" />
</form>

</body>
</html>