<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link href="/styles/adminMain.css" rel="stylesheet">
</head>
<body>
<h3>Register customer</h3>
<form action="/admin/new-customer" method="post">
    <input type="text" name="driver_license_number" class="text-box" placeholder="Enter driver license number" required>
    <br>
    <input type="text" name="driver_since_number" class="text-box" placeholder="Enter driver since number" required>
    <br>
    <input type="text" name="first_name" class="text-box" placeholder="Enter first name" required>
    <br>
    <input type="text" name="last_name" class="text-box" placeholder="Enter last name" required>
    <br>
    <input type="text" name="phone_number" class="text-box" placeholder="Enter phone number" required>
    <br>
    <input type="text" name="mobile_number" class="text-box" placeholder="Enter mobile phone number" required>
    <br>
    <input type="text" name="email" class="text-box" placeholder="Enter email" required>
    <br>
    <input type="text" name="zip_code" class="text-box" placeholder="Enter zip code" required>
    <br>
<!--    <input type="text" name="city" class="text-box" placeholder="Enter city name" required>-->
    <br>  <input type="submit" id="button-send" value="Save changes" />
</form>
</body>
</html>