<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New car</title>
</head>
<body>
<h3>Register car</h3>
<form action="/admin/newSport" method="post">
    <input type="text" name="registrationNumber" class="text-box" placeholder="Enter registration number" required>
    <br>
    <input type="text" name="brand" class="text-box" placeholder="Enter brand" required>
    <br>
    <input type="text" name="model" class="text-box" placeholder="Enter model" required>
    <br>
    <input type="text" name="registrationDate" class="text-box" placeholder="Enter registration date" required>
    <br>
    <input type="text" name="kmDriven" class="text-box" placeholder="Enter km driven" required>
    <br>
    <input type="text" name="manualGear" class="text-box" placeholder="does it have manual gear?" required>
    <br>
    <input type="text" name="over200HP" class="text-box" placeholder="does it have over 200 hp?" required>
    <br>
    <input type="submit" id="button-send" value="Save changes" />
</form>
</body>
</html>