<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link href="/styles/viewCars.css" rel="stylesheet">
    <link href="/styles/adminMain.css" rel="stylesheet">
</head>
<body>
<h3>Family cars</h3>

<table>
    <thead>
    <tr>
        <th>RegNumb</th>
        <th>Brand</th>
        <th>Model</th>
        <th>RegDate</th>
        <th>kmdriven</th>
        <th>manu-gear</th>
        <th>Air-Cond.</th>
        <th>CruiseContr.</th>
        <th>>7Seats</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="familyCar : ${familyCars}">
        <td th:text="${familyCar.registrationNumber}"/>
        <td th:text="${familyCar.brand}"/> </td>
        <td th:text="${familyCar.model}"/> </td>
        <td th:text="${familyCar.registrationDate}"/> </td>
        <td th:text="${familyCar.kmDriven}"/> </td>
        <td th:text="${familyCar.manualGear}"/> </td>
        <td th:text="${familyCar.airCondition}"/> </td>
        <td th:text="${familyCar.cruiseControl}"/> </td>
        <td th:text="${familyCar.sevenSeatsOrMore}"/> </td>
        <td>
            <a th:href="@{'/update/car/'+${familyCar.registrationNumber}}">Update car
            </a>
        </td>
    </tr>
    </tbody>

</table>

<br>
<h3>Luxury cars</h3>

<table>
    <thead>
    <tr>
        <th>RegNumb</th>
        <th>Brand</th>
        <th>Model</th>
        <th>RegDate</th>
        <th>kmdriven</th>
        <th>>3000CCM</th>
        <th>AutoGear</th>
        <th>CruiseContr.</th>
        <th>LSeats</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="luxuryCar : ${luxuryCars}">
        <td th:text="${luxuryCar.registrationNumber}"/>
        <td th:text="${luxuryCar.brand}"/> </td>
        <td th:text="${luxuryCar.model}"/> </td>
        <td th:text="${luxuryCar.registrationDate}"/> </td>
        <td th:text="${luxuryCar.kmDriven}"/> </td>
        <td th:text="${luxuryCar.over3000CCM}"/> </td>
        <td th:text="${luxuryCar.automaticGear}"/> </td>
        <td th:text="${luxuryCar.cruiseControl}"/> </td>
        <td th:text="${luxuryCar.leatherSeats}"/> </td>
        <td><a th:href="@{'/admin/updateCarReg/'+${luxuryCar.registrationNumber}}">
            <button>Update car</button>
        </a></td>
    </tr>
    </tbody>

</table>

<br>
<h3>Sport cars</h3>
<table>
    <thead>
    <tr>
        <th>RegNumb</th>
        <th>Brand</th>
        <th>Model</th>
        <th>RegDate</th>
        <th>kmdriven</th>
        <th>manualGear</th>
        <th>over200HP</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sportCar : ${sportCars}">
        <td th:text="${sportCar.registrationNumber}"/>
        <td th:text="${sportCar.brand}"/> </td>
        <td th:text="${sportCar.model}"/> </td>
        <td th:text="${sportCar.registrationDate}"/> </td>
        <td th:text="${sportCar.kmDriven}"/> </td>
        <td th:text="${sportCar.manualGear}"/> </td>
        <td th:text="${sportCar.over200HP}"/> </td>
        <td><a th:href="@{'/admin/updateCarReg/'+${sportCar.registrationNumber}}">
            <button>Update car</button>
        </a></td>
    </tr>
    </tbody>

</table>

</body>
</html>