<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link href="/styles/viewCars.css" rel="stylesheet">
    <link href="/styles/adminMain.css" rel="stylesheet">
</head>
<body>
<h1>See cars</h1>
<div>
    <h3>Family cars</h3>

    <table>
        <thead>
            <tr>
                <th>RegNumb</th>
                <th>Brand</th>
                <th>Model</th>
                <th>RegDate</th>
                <th>kmdriven</th>
                <th>manu-gear</th>
                <th>Air-Cond.</th>
                <th>CruiseContr.</th>
                <th>>7Seats</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="familyCar : ${familyCars}">
                <td th:text="${familyCar.registrationNumber}"/> </td>
                <td th:text="${familyCar.brand}"/> </td>
                <td th:text="${familyCar.model}"/> </td>
                <td th:text="${familyCar.registrationDate}"/> </td>
                <td th:text="${familyCar.kmDriven}"/> </td>
                <td th:text="${familyCar.manualGear}"/> </td>
                <td th:text="${familyCar.airCondition}"/> </td>
                <td th:text="${familyCar.cruiseControl}"/> </td>
                <td th:text="${familyCar.sevenSeatsOrMore}"/> </td>
                <td>
                    <a th:href="@{'/admin/update/car/'+${familyCar.registrationNumber}}">Update</a>
                    <a th:href="@{'/admin/car-viewFamily/'+${familyCar.registrationNumber}}">View</a>
                    <a th:href="@{'/admin/car/'+${familyCar.registrationNumber}}">Delete</a>
                </td>

            </tr>
        </tbody>

    </table>

    <br>
    <h3>Luxury cars</h3>

    <table>
        <thead>
        <tr>
            <th>RegNumb</th>
            <th>Brand</th>
            <th>Model</th>
            <th>RegDate</th>
            <th>kmdriven</th>
            <th>>3000CCM</th>
            <th>AutoGear</th>
            <th>CruiseContr.</th>
            <th>LSeats</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="luxuryCar : ${luxuryCars}">
            <td th:text="${luxuryCar.registrationNumber}"/>
            <td th:text="${luxuryCar.brand}"/> </td>
            <td th:text="${luxuryCar.model}"/> </td>
            <td th:text="${luxuryCar.registrationDate}"/> </td>
            <td th:text="${luxuryCar.kmDriven}"/> </td>
            <td th:text="${luxuryCar.over3000CCM}"/> </td>
            <td th:text="${luxuryCar.automaticGear}"/> </td>
            <td th:text="${luxuryCar.cruiseControl}"/> </td>
            <td th:text="${luxuryCar.leatherSeats}"/> </td>
            <td>
                <a th:href="@{'/admin/update/car/'+${luxuryCar.registrationNumber}}">Update</a>
                <a th:href="@{'/admin/car-viewLuxury/'+${luxuryCar.registrationNumber}}">View</a>
                <a th:href="@{'/admin/car/'+${luxuryCar.registrationNumber}}">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>

    <br>
    <h3>Sport cars</h3>
    <table>
        <thead>
        <tr>
            <th>RegNumb</th>
            <th>Brand</th>
            <th>Model</th>
            <th>RegDate</th>
            <th>kmdriven</th>
            <th>manualGear</th>
            <th>over200HP</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sportCar : ${sportCars}">
            <td th:text="${sportCar.registrationNumber}"/>
            <td th:text="${sportCar.brand}"/> </td>
            <td th:text="${sportCar.model}"/> </td>
            <td th:text="${sportCar.registrationDate}"/> </td>
            <td th:text="${sportCar.kmDriven}"/> </td>
            <td th:text="${sportCar.manualGear}"/> </td>
            <td th:text="${sportCar.over200HP}"/> </td>
            <td>
                <a th:href="@{'/admin/update/car/'+${sportCar.registrationNumber}}">Update</a>
                <a th:href="@{'/admin/car-viewSport/'+${sportCar.registrationNumber}}">View</a>
                <a th:href="@{'/admin/car/'+${sportCar.registrationNumber}}">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>

</div>

</body>
</html>