<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biludlejning</title>
    <link href="/styles/biludlejning.css" rel="stylesheet">
    <link rel="icon" type="image/ico" href="/images/Bentley.png">
    <link rel="icon" type="image/ico" href="/images/Volvo.png">
    <link rel="icon" type="image/ico" href="/images/Porsche.png">

</head>
<body>

<div class="container">

    <ul class="navbar">
        <li> <a class="nav-header" id="kailua-home-button" href="/">Kailua</a></li>
        <li > <a class="nav-header" href="biludlejning">Biludlejning</a></li>
        <li> <a class="nav-header" href="/om-os">Om os</a></li>
        <li class="dropdown"> <a class="nav-header" href="/">Hjælp</a>

            <ul class="dropdown-list">
                <li class="dropdown-item"> <a href="/">Hyppigt stillede spørgsmål</a></li>
                <li class="dropdown-item"> <a href="/">Kontakt os</a></li>
            </ul>
        </li>
        <li> <a class="nav-header" href="/">Log på</a></li>
        <li> <a class="nav-header" href="/">Opret dig</a></li>
    </ul>

</div>


<div class="biler">
    <a target="_blank" href="">
        <img src="/images/Volvo.png" alt="Volvo">
    </a>
    <div class="desc">Vores familier biler</div>
</div>

<div class="biler">
    <a target="_blank" href="">
        <img src="/images/Bentley.png" alt="Bentley" width="600" height="400">
    </a>
    <div class="desc">Vores luksus biler</div>
</div>

<div class="biler">
    <a target="_blank" href="">
        <img src="/images/Porsche.png" alt="Porsche" width="600" height="400">
    </a>
    <div class="desc">Vores sports biler</div>
</div>



</body>
</html>