<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biludlejning</title>
    <link href="/styles/biludlejning.css" rel="stylesheet">
    <link href="/styles/main.css" rel="stylesheet">
    <link rel="images" type="image/ico" href="/static/images/Bentley.jpg">
    <link rel="images" type="image/ico" href="/static/images/Porsche-911.png">
    <link rel="images" type="image/ico" href="/static/images/Volvo.png">

</head>
<body>

<div class="container">

    <ul class="navbar">
        <li> <a class="nav-header" id="Kailua-button" href="/">Kailua</a></li>
        <li > <a class="nav-header" href="biludlejning">Biludlejning</a></li>
        <li> <a class="nav-header" href="/">Om os</a></li>
        <li class="dropdown"> <a class="nav-header" href="/">Hjælp</a>

            <ul class="dropdown-list">
                <li class="dropdown-item"> <a href="/">Hyppigt stillede spørgsmål</a></li>
                <li class="dropdown-item"> <a href="/">Kontakt os</a></li>
            </ul>
        </li>
        <li> <a class="nav-header" href="/">Log på</a></li>
        <li> <a class="nav-header" href="/">Opret dig</a></li>
    </ul>

</div>

<div id="Volvo-billede">
    <img src="/images/Volvo.png" alt="Volvo">
</div>

<div id="Bentley-billede">
    <img src="/images/Bentley.jpg" alt="Bentley">
</div>

<div id="Porsche-billede">
    <img src="/images/Porsche-911.png" alt="Porsche">
</div>

</body>
</html>