<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Startside</title>
    <link href="/styles/main.css" rel="stylesheet">
    <link href="/styles/layout.css" rel="stylesheet">


</head>
<body>


<header>
    <div class="container">
        <ul class="navbar">
            <li><a class="nav-header" href="/" id="kailua-home-button">Kailua</a></li>
            <li><a class="nav-header" href="biludlejning">Biludlejning</a></li>
            <li><a class="nav-header" href="/">Opret dig</a></li>
            <li><a class="nav-header" href="/">Om os</a></li>

            <li class="dropdown"><a class="nav-header" href="/">Hjælp</a>

                <ul class="dropdown-list">
                    <li class="dropdown-item"><a href="/">Spørgsmål</a></li>
                    <li class="dropdown-item"><a href="/">Kontakt os</a></li>
                </ul>
            </li>
        </ul>

    </div>
</header>

<div class="button-container">
    <a class="btn" href="/" title="Udlej bil"> Udlej bil</a>
    <a class="btn" href="/" id="btn-color" title="Opret dig i systemet">Opret dig her</a>
</div>


</body>


</body>
</html>


