<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link href="/styles/main.css" rel="stylesheet">

</head>
<body>


    <div class="container">

        <ul class="navbar">
            <li> <a class="nav-header" id="kailua-button" href="/">Kailua</a></li>
            <li > <a class="nav-header" href="biludlejning">Biludlejning</a></li>
            <li> <a class="nav-header" href="/">Om os</a></li>

            <li> <a class="nav-header" href="/">Log på</a></li>
            <li> <a class="nav-header" href="/">Opret dig</a></li>

            <li class="dropdown"> <a class="nav-header" href="/">Hjælp</a>

                <ul class="dropdown-list">
                    <li class="dropdown-item"> <a href="/">Hyppigt stillede spørgsmål</a></li>
                    <li class="dropdown-item"> <a href="/">Kontakt os</a></li>
                </ul>
            </li>
        </ul>

    </div>

    <div class="button-container">
        <a href="/"> Udlej bil</a>
        <a href="/">Kom i gang</a>
    </div>

<!--    <div class="header-container">-->
<!--        <h1>Kailua's cars</h1>-->
<!--         <p>This is the future.</p>-->
<!--    </div>-->



</body>


</body>
</html>


