<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kontakt os</title>
    <link href="/styles/help.css" rel="stylesheet">
</head>
<body>

<div class="container">

    <ul class="navbar">
        <li> <a class="nav-header" id="kailua-home-button" href="/">Kailua</a></li>
        <li > <a class="nav-header" href="biludlejning">Biludlejning</a></li>
        <li> <a class="nav-header" href="om-os">Om os</a></li>
        <li class="dropdown"><a class="nav-header">Hjælp</a>

            <ul class="dropdown-list">
                <li class="dropdown-item"><a href="questions">Spørgsmål</a></li>
                <li class="dropdown-item"><a href="kontakt-os">Kontakt os</a></li>
            </ul>
        </li>
        <li> <a class="nav-header" href="/">Log på</a></li>
        <li> <a class="nav-header" href="/">Opret dig</a></li>
    </ul>

</div>

</body>
</html>