<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Om os</title>
    <link href="/styles/om-os.css" rel="stylesheet">

</head>
<body>

<div class="container">

    <ul class="navbar">
        <li> <a class="nav-header" id="kailua-home-button" href="/">Kailua</a></li>
        <li > <a class="nav-header" href="biludlejning">Biludlejning</a></li>
        <li> <a class="nav-header" href="om-os">Om os</a></li>
        <li class="dropdown"> <a class="nav-header" href="/">Hjælp</a>

            <ul class="dropdown-list">
                <li class="dropdown-item"> <a href="/">Hyppigt stillede spørgsmål</a></li>
                <li class="dropdown-item"> <a href="/">Kontakt os</a></li>
            </ul>
        </li>
        <li> <a class="nav-header" href="/">Log på</a></li>
        <li> <a class="nav-header" href="/">Opret dig</a></li>
    </ul>

</div>

<section class="om-os">
    <div class="billede">

        <img src="/static/images/om-os.png">

        <div class="om-os-tekst">
            <h1>Om Os</h1>
            <h5>Biludlejnings firma</h5>
            <p>Vi er et biludlejningsfirma.......</p>
            <button>Kontakt os</button>
        </div>

    </div>

</section>
</body>
</html>