

#Porsche-billede img {
    position: relative;
    height: 75%;
    width: 100%;
}

#Volvo-billede img {
    position: relative;
    height: 75%;
    width: 100%;
}

#Bentley-billede img {
    position: relative;
    height: 75%;
    width: 100%;
}