

.Overskrift{
    position: absolute;
    font-size: 3em;
    font-family: serif;
    text-align: center;
    left: 29%;
    top: 18%;
}

.billeder{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.billeder img {
    width: 33.33%;
    height: 33.33%;
    border-radius: 50%;
}

