.button-container {
    width: 100%;
    position: absolute;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    bottom: 65%;
}

.button-container > .btn {
    background-color: rgba(23, 26, 32, 0.8);
    padding: 1% 6.5%;
    border-radius: 30px;
    color: white;
    text-decoration: none;
}

.button-container > #btn-color {
    background-color: rgba(244, 244, 244, 0.65);
    color: #393c41;
}

.button-container > .btn:hover {
    border: 2px solid black;
}



